/* .location-spotlight {
    max-width: 400px;
    display: flex;
    border: 1px solid #a7b3a5;
    padding: 10px;
    margin: 10px;
  } */

.locationBlock {
    border: 5px solid #a7b3a5;
    background-color: white;
    padding: 2px;
  }

.fact-spotlight {
    width: 1000px;
    display: flex;
    flex-direction: row;
    max-height: 300px;
    margin: 5rem 1rem 0 1rem;
  }
  a:link {
    color: black;
  }

  a:visited{
      color: black;
  }
  
.factText {
    color: black;
    border: 5px solid #a7b3a5;
    width:1000px;
    border-left: none;
    margin: 40px 0 20px 0;
    font-size: 14pt;
    height: 200px; 
    padding: 0 5px 0 15px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2);
    
  }

 .factImage{
    height: 300px;
    width: 400px; 
    object-fit: cover;
    border: solid white 8px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2)
  }

  .tip-spotlight {
    width: 1000px;
    display: flex;
    flex-direction: row;
    max-height: 300px;;
    margin: 5rem 1rem 0 1rem;
  }

  .tipText {
    color: black;
    text-align: center;
    border: 5px solid #a7b3a5;
    width:1000px;
    border-right: none;
    margin: 40px 0 20px 0;
    font-size: 14pt;
    height: 200px; 
    padding: 0 5px 0 15px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2);
    
  }

  .tipImage{
    height: 300px;
    width: 400px; 
    object-fit: cover;
    border: solid white 8px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,0.2)
  }

