 .login{
   display:flex;
   justify-content: space-between;
   position: fixed;
   margin: 0;
   padding: 0;
   height: 800px;
   min-width: 800px;
 }

 /* h1, h3 {
      margin-left: 1rem;

  } */
 .dialog {
    min-width: 15rem;
    min-height: 5rem;
  }
  
  
  
  fieldset {
    min-width: 0;
    padding: .5rem 0;
    margin-left: 0;
    border: 0;
}

  
  
  .link--register{
    margin: 5px;
    width: fit-content;
  }

  .form-control{
    display: block;
    width: 200px;
    background-clip: padding-box;
    border-color: #b56357;
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
  }
  
  .emailInput{
    display: flex;
    margin: 3px 0px 20px 0px;

  }
  
 
 

  /* .background-image {

     background-position-x:right;
    background-size:; */
    /* background-image: url(plastic.jpg);*/
    /* z-index: 1;
    background-color: rgba(255, 255, 255, 0.815);
    background-blend-mode:overlay;
    background-repeat: no-repeat;  
  } */
  .linkRegister{
    color:#b56357;
  }

  .linkRegister:hover{
    color:#a7b3a5;
  }

  .LoginLogo {
    height: 80px;
    width: 80px;
  }

  .login--logo {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 15rem;
    align-items: center;
    margin-bottom: 2rem;
  }

  .left {
    display:flex;
    flex-direction: row;
    min-width: 50%; 
   }


  .right {
    display:flex;
    flex-direction: row;
    min-width: 70%;
    margin-left: 5rem; 
  }

  .background-image{
    width: 100%
  }

  .form--login{
    text-align: left;
    min-height: 70rem;
    min-width: 70rem;
    margin: 10rem;
  } 

  .registerButtons {
    display: flex;
    flex-direction: row;
    margin: 1rem;
  }

  .submitButtonSection{
    margin-right: 1rem;
  }

.cancelButtonSection{}